@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-secondary dropdown-toggle" href="#" id="userDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello @User.Identity?.Name!
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a>

                @if (User.IsInRole("Admin"))
                {
                    <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Register">Register User</a>
                    <a class="dropdown-item text-dark" asp-controller="User" asp-action="Index">User List</a>
                    <div class="dropdown-divider"></div>
                    <form asp-controller="Cleanup" asp-action="CleanupOrphanFiles" method="post" class="dropdown-item p-1 m-1">
                        <button type="submit" class="btn btn-link dropdown-item text-danger p-0 m-0">Cleanup Orphan Files</button>
                    </form>
                }

                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item text-dark" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" class="d-none">
    </form>

    <!-- Bootstrap 4 Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="document.getElementById('logoutForm').submit();">Logout</button>
                </div>
            </div>
        </div>
    </div>
}
