@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


@* <h1>@ViewData["Title"]</h1> *@

<div class=" account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Login.</h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="UserNameOrEmail" class="form-control" autocomplete="username" placeholder="Username or Email" />
                <label asp-for="UserNameOrEmail" class="form-label">Username or Email</label>
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Password" class="form-label">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <label asp-for="RememberMe" class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}