################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/MVC_GoshehArt/v17/.futdcache.v2
