@model CreateContentViewModel

@{
    ViewData["Title"] = "Create";
}


<section class="container">
    <h1>@ViewBag.Title</h1>
    <h4>Add new Content</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewContent.Title" class="control-label"></label>
                    <input asp-for="NewContent.Title" class="form-control" />
                    <span asp-validation-for="NewContent.Title" class="text-danger"></span>
                </div>

                    @* name="title" type="hidden" value="@Model.Title" /> *@
                <div class="form-group">
                    <label asp-for="NewContent.Body" class="control-label"></label>
                    @* <input asp-for="Body" class="form-control" /> *@
                    <span asp-validation-for="NewContent.Body" class="text-danger"></span>
                    <textarea asp-for="NewContent.Body" id="summernote" name="NewContent.Body" class="form-control" rows="30">
                        @Model.NewContent.Body
                    </textarea>
                </div>

                <div class="form-group">
                    <label asp-for="NewContent.Pages" class="control-label"></label>
                    <select asp-for="NewContent.PageId" asp-items="ViewBag.PageList" class="form-select">
                        <option disabled selected>--Select Parent Page--</option>
                    </select>
                    <span asp-validation-for="NewContent.PageId"></span>
                </div>
                    @if (ViewBag.PageError != null)
                    {
                        <span class="error-message">@ViewBag.PageError</span>
                    }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Return to Page Index</a>
    </div>

</section>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
}

