@model CategoryViewModel

@{
    ViewData["Title"] = "Category Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid">
    <h1>@ViewBag.Title</h1>
    <a asp-controller="Category" asp-action="Create" class="btn btn-outline-success">Create a new Category</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle mt-1">
            <thead class="table-dark">
                <tr>
                    <th class="text-start align-middle">Category</th>
                    <th class="text-end align-middle">Actions</th>
                </tr>
            </thead>
            <tbody class="table-primary">
                @foreach (var item in Model.Categories)
                {
                        <tr class="table-secondary">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="d-flex flex-row gap-2 justify-content-end">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (ViewBag.IsInUse == "isinuse")
    {
        <p>Is in use!</p>
    }
</section>