@model CreateAssetViewModel

@{
    ViewData["Title"] = "Upload a Catalog(s) of Assets";
}


<h1>@ViewBag.Title</h1>

<section class="container">
    <h4>Add a new Asset</h4>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUp" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="ImageUp" class="custom-file-input" id="FLFrontImage"
                               onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                        @*<label class="custom-file-label" for="FLFrontImage">Choose file</label>*@
                    </div>
                    <span asp-validation-for="ImageUp" class="text-danger"></span>
                    <img id="FrontImagePrv" src="" alt="product" width="150" height="150" style="border: 1px; margin-top:20px;margin-left:120px;" />

                </div>
                <div class="form-group">
                    <label asp-for="Categories" class="control-label"></label>
                    <select asp-for="Categories" asp-items="ViewBag.CategoryList" multiple class="form-control dropdown-margin-bottom">
                        @*<option disabled selected>Select Category</option>*@
                    </select>
                    @if (ViewBag.CategoryError != null)
                    {
                        <span class="error-message">@ViewBag.CategoryError</span>
                    }
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Return to Asset Index</a>
    </div>

</section>



<script type="text/javascript">
    const theImage = document.querySelector("#FrontImagePrv")

    if (theImage.getAttribute('src') === "") {
        theImage.style.visibility = "hidden";
    }

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        theImage.style.visibility = "visible";
    })
</script>
