@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<section class="container my-4">
    <h3 class="mb-4">@ViewData["Title"]</h3>

    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="row">
        <div class="col-md-6">
            <form id="change-password-form" method="post" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Old Password" />
                    <label asp-for="Input.OldPassword"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="New Password" />
                    <label asp-for="Input.NewPassword"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-lg w-100">Update password</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
