@page
@model GoshehArtWebApp.Areas.Identity.Pages.Account.Manage.EmailModel
@{
    ViewData["Title"] = "Manage email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post" asp-page-handler="ChangeEmail">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
        </form>

        <form method="post" asp-page-handler="SendVerificationEmail" class="mt-3">
            <button type="submit" class="btn btn-link">Resend verification email</button>
        </form>

        @if (!string.IsNullOrEmpty(Model.StatusMessage))
        {
            <div class="alert alert-info mt-3" role="alert">
                @Model.StatusMessage
            </div>
        }
    </div>
</div>

<partial name="_ValidationScriptsPartial" />