@model CreateColorViewModel

@{
    ViewData["Title"] = "Create a new Color Component";
}

<section class="container-fluid">
    <h1>@ViewBag.Title</h1>
        <div class="flex-row d-flex md-4">
            <form asp-action="Create" method="post" >
           <div class="d-flex gap-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* Color Name *@
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" name="Name" style="height:5rem;width:10rem;" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @* Start Color *@
                <div class="form-group">
                    <label asp-for="StartColor" class="control-label"></label>
                    <input asp-for="StartColor" name="StartColor"  style="height:5rem; width:10rem;" type="color" class="form-control" />
                    <span asp-validation-for="StartColor" class="text-danger"></span>
                </div>
                @* Optional Gradient Range End Color*@
                <div class="form-group">
                    <label asp-for="EndColor" class="control-label">Gradient Color (Optional)</label>
                    <input asp-for="EndColor" name="EndColor"  style="height:5rem; width:10rem;" type="color" class="form-control" />
                    <span asp-validation-for="EndColor" class="text-danger"></span>
                </div>
                @* Darkmode Background Color *@
                <div class="form-group">
                    <label asp-for="DarkStartColor" class="control-label"></label>
                    <input asp-for="DarkStartColor" name="DarkStartColor"  style="height:5rem; width:10rem;" type="color" class="form-control" />
                    <span asp-validation-for="DarkStartColor" class="text-danger"></span>
                </div>
                @* Darkmode Optional Gradient Range End Color*@
                <div class="form-group">
                    <label asp-for="DarkEndColor" class="control-label">Gradient Color (Optional)</label>
                    <input asp-for="DarkEndColor" name="DarkEndColor"  style="height:5rem; width:10rem;" type="color" class="form-control" />
                    <span asp-validation-for="DarkEndColor" class="text-danger"></span>
                </div>
           </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary mt-1" />
                </div>
            </form>
        </div>        
            <div>
                <a asp-action="Index">Return to Color Index</a>
            </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}