@model Color

@{
    ViewData["Title"] = "Delete";
}

<section class="container my-4">
    <div class="card shadow-sm border-danger">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Delete Confirmation</h2>
        </div>

        <div class="p-4">

            <h3 class="mb-4 card-header-pills border-danger border-bottom border-1">Are you sure you want to delete <strong>@Model.Name</strong>?</h3>

        </div>
            <!-- Submit -->
            <div class="card-footer d-flex justify-content-between">
                <form asp-controller="Color" asp-action="Delete" method="post" class="mb-0">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash me-1"></i>Delete
                    </button>
                </form>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>  
    </div>
</section>