@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="container my-4">
    <h1 class="text-center mb-2">@ViewData["Title"]</h1>
    <h2 class="text-center mb-4">Enter your email.</h2>
    <hr />
    <form method="post" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

        <div class="form-group mb-3">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" aria-describedby="emailHelp" />
            <span id="emailHelp" asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
    </form>

    <p class="text-center mt-4">
        <a asp-area="Identity" asp-page="/Account/Login">Return to Login</a>
    </p>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
