@model CreateAssetViewModel

@{
    ViewData["Title"] = "Edit Asset";
}

<section class="container">
    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div><img src="@($"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}/{Model.ImageUrl}")" class="img-fluid" style="max-height:40%;" /></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <textarea asp-for="Author" class="form-control"></textarea>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Date">Date (Optional)</label>
                    <div>
                        <input asp-for="Date" class="border p-1 rounded " type="date" id="Date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryIds" class="control-label"></label>
                    <select asp-for="CategoryIds" asp-items="ViewBag.CategoryList" class="form-control dropdown-margin-bottom" selected="@Model.Categories" multiple>
                    </select>
                    @if (ViewBag.CategoryError != null)
                    {
                        <span class="error-message">@ViewBag.CategoryError</span>
                    }
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary mt-1" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Return to Asset Index</a>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* <script> *@

    @*     $(document).ready(function () { *@
    @*         $('#datepicker-container').datepicker({ *@
    @*             format: 'yyyy/mm/dd', *@
    @*             autoclose: true, *@
    @*             todayHighlight: true, *@
    @*             todayBtn: "linked", *@
    @*             inline:true *@
    @*         }).on('changeDate', function(e) { *@
    @*              $('#Date').val(e.format('yyyy-mm-dd')); *@
    @*         }); *@
    @*     }); *@
    @* </script> *@
}