@model CreatePageViewModel

@{
    ViewData["Title"] = "Create";
}


<section class="container">
    <h1>@ViewBag.Title</h1>
    <h4>Add a new Page</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                    @* name="title" type="hidden" value="@Model.Title" /> *@
                <div class="form-group">
                    <label asp-for="Container" class="control-label"></label>
                    @* <input asp-for="Container" class="form-control" /> *@
                    <span asp-validation-for="Container" class="text-danger"></span>
                    <textarea asp-for="Container" id="summernote" name="Container" class="form-control" rows="30">
                        @Model.Container
                    </textarea>
                </div>

                @* <div class="form-group"> *@
                @*     <label asp-for="Contents" class="control-label"></label> *@
                @*     <select asp-for="Contents" asp-items="ViewBag.ContentList" multiple class="form-control dropdown-margin-bottom"> *@
                @*         @*<option disabled selected>Select Category</option>*@ 
                @*     </select> *@
                @*     @if (ViewBag.ContentError != null) *@
                @*     { *@
                @*         <span class="error-message">@ViewBag.ContentError</span> *@
                @*     } *@
                @* </div> *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Return to Page Index</a>
    </div>

</section>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
}

